$base-class-name: 'shuttle' !default;

.#{$base-class-name} {
    display: flex;

    &--ush {
        .#{$base-class-name}__container {
            user-select: none;
        }
    }

    &__container {
        width: 250px;
        height: 400px;
        border: 1px solid #ccc;
        padding: 0.5em;
        overflow: auto;

        & + & {
            margin-left: 1em;
        }
    }

    &__item {
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 0.5em;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }

        &--disabled {
            pointer-events: none;
            background-color: #ddd;
            color: #444;
            border-color: #999;
            cursor: not-allowed;
        }

        &:focus {
            outline: 0 none;
        }

        &--selected,
        &:hover {
            border-color: lighten(blue, 30%);
            background-color: lighten(blue, 45%);
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > * {
            margin: 0.75em 1em;
            font-size: 1.2em;
        }
    }
}
